/*--
    Common Css
--*/
body {
  font-size: 14px;
  font-weight: 300;
  line-height: 25px;
  color: #3b4045;
  font: 14px/22px 'Source Sans Pro', sans-serif, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  margin: 0px; }

h1 {
  font-size: 44px;
  line-height: 56px;
  color: #fff; }

h2 {
  font-size: 30px;
  line-height: 35px; }

h3 {
  font-size: 23px;
  line-height: 25px; }

h4 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400; }

p {
  font-size: 16px;
  line-height: 25px;
  margin: 0px; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

a {
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s; }

a:focus,
.btn:focus,
.btn:active:focus {
  box-shadow: none;
  outline: 0 none; }

a,
a:active,
a:focus,
a:active {
  text-decoration: none; }

.section {
  padding: 30px 0; }

/*--
    custom heading
--*/
.text-center {
  text-align: center; }

.heading {
  text-align: center;
  color: #777777;
  padding-bottom: 70px; }
  .heading h2 {
    color: #3c3c3c;
    padding-bottom: 15px;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 40px;
    line-height: 40px; }
  .heading p {
    font-family: 'Droid Serif', serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: 300; }

.btn {
  border-radius: 0; }

.btn-home {
  background-color: #1bafb4;
  border-radius: 0px;
  color: #fff;
  font-size: 18px;
  padding: 10px 40px;
  margin-top: 30px; }
  .btn-home:hover, .btn-home:focus {
    background-color: #fff;
    color: #555;
    border: 1px solid #fff; }



/*--
    .hero-area start
--*/
.bg-1 {
  background-image: url("/images/header-bg.jpg");
  background-size: cover;
  background-attachment: fixed; }

.bg-gray {
  background: #f8f8f8; }

.hero-area {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .hero-area h1 {
    color: #fff;
    font-size: 60px;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 0px;
    margin-top: 30px; }
  .hero-area p {
    color: #fff;
    font-size: 20px;
    line-height: 1.3; }
  .hero-area .counter {
    background: rgba(255, 255, 255, 0.2);
    padding: 10px; }
    .hero-area .counter ul li {
      background-color: rgba(255, 255, 255, 0.3);
      color: #fff;
      display: inline-block;
      line-height: 25px;
      padding: 25px 28px 20px;
      text-align: center;
      width: 32%;
      margin-bottom: 3px; }
      .hero-area .counter ul li span {
        display: block;
        font-size: 16px;
        font-weight: 600; }
      .hero-area .counter ul li .digit {
        display: inline-block;
        font-size: 50px;
        font-weight: bold;
        line-height: 50px;
        position: relative;
        overflow: hidden;
        height: 60px; }

/* .hero-area  */
.navigation {
  background-color: transparent;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  padding: 10px 50px;
  margin: 0;
  border: 0; }
  .navigation .navbar-brand {
    padding-top: 5px;
    display: inline-block; }
  .navigation .navbar-toggler {
    background: #fff;
    outline: none;
    border-radius: 0;
    float: right; }
    .navigation .navbar-toggler i {
      font-size: 22px; }

.navigation.animated {
  background-color: #fff;
  box-shadow: 0 2px 7px 0px rgba(142, 142, 142, 0.15); }
  .navigation.animated .menu a {
    color: #666; }

.menu li a {
  color: #fff;
  font-size: 16px;
  font-weight: bold; }
  .menu li a:hover, .menu li a:focus {
    background: none; }

/*--
    service start
--*/
.service {
  text-align: center; }
  .service .block {
    margin-bottom: 50px; }
    .service .block i {
      font-size: 30px;
      display: inline-block;
      margin-bottom: 15px;
      color: #1bafb4; }
    .service .block h3 {
      color: #333333;
      font-weight: 600;
      font-size: 18px;
      margin-bottom: 15px;
      letter-spacing: 1px;
      text-transform: uppercase; }
    .service .block p {
      color: #666; }

/*--
    About start
--*/
.about .content h3 {
  font-size: 26px;
  font-weight: 300;
  line-height: 36px;
  color: #7e7e7e;
  margin-bottom: 20px;
  font-family: 'Droid Serif', serif; }

.about .about-slider img {
  width: 100%;
  height: auto; }

/*--
    call-to-action start
--*/
.call-to-action {
  padding: 90px 0px;
  background-image: url(../images/call-to-action.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  position: relative; }
  .call-to-action:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7); }
  .call-to-action .block h2 {
    font-size: 30px;
    margin-bottom: 6px;
    font-weight: 600; }
  .call-to-action .block p {
    padding-right: 30px;
    color: #fff; }
  .call-to-action .block .input-group {
    margin-top: 30px; }
    .call-to-action .block .input-group input {
      height: 50px;
      border-radius: 0;
      border: none;
      box-shadow: none; }
    .call-to-action .block .input-group .btn-subscription {
      height: 50px;
      border-radius: 0;
      border: none;
      box-shadow: none;
      background: #1bafb4;
      padding: 0px 35px;
      color: #fff;
      font-weight: bold; }

.input-field .form-control {
  box-shadow: none;
  background: #f5f5f5;
  border: none;
  width: 100%;
  height: 50px;
  padding-left: 20px;
  font-weight: 500;
  border-radius: 0; }

.btn-send {
  line-height: 48px;
  border: 2px solid #1bafb4;
  background: #1bafb4;
  color: #fff;
  width: 100%;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 0;
  margin-top: 10px; }
  .btn-send:hover {
    color: #fff; }

.input-field label {
  color: rgba(237, 28, 36, 0.7); }

.form-group .input-field + .input-field {
  margin-top: 10px; }

.input-field textarea.form-control {
  height: 160px;
  box-shadow: none; }

.form-group {
  margin-top: 10px; }

#success,
#error {
  display: none; }

footer {
  text-align: center;
  background: #272727;
  padding: 27px 0px; }
  footer p {
    font-weight: 300;
    font-size: 12px;
    color: #dfdfdf;
    letter-spacing: 3px; }
    footer p a {
      color: #fff; }
      footer p a:hover {
        color: #fff;
        text-decoration: none; }

.navbar-header {
  font-weight: 1.2em;
  font-size: 18px;
  padding: 10px;
  margin-right: 15px;
  text-align: center;
}

/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #2098d1;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

.header-name {
  font-weight: 300; font-size: 38px; margin: 0px 0px 0px 0px; line-height: 120%; font-family: 'Open sans', sans-serif;
}

@font-face {
  font-family: 'DBHelvethaica';
  font-weight: normal;
  font-style: normal;
  src: url('/fonts/DB HelvethaicaMon X v3.2.ttf');
  src: url('/fonts/DB Helvethaica X Bd Cond It v3.2.ttf') format('truetype'),
}

h1,
h2,
h3,
h4,
h5,
h6
{
  font-family: 'DBHelvethaica';
}

.font {
  font-family: 'DBHelvethaica';
  font-size: 80px;
  color:#f5f5f5;
  margin-bottom: 50px;
  margin-top: 10px;
  line-height: 100%;
}

.font_datail {
  font-family: 'DBHelvethaica';
  font-size: 55px;
  color:#f5f5f5;
  margin-bottom: 35px;
  line-height: 100%;
}

.font_btn {
  font-family: 'DBHelvethaica';
  font-size: 28px;
  color:#f5f5f5;
  margin-bottom: 35px;
}

.font-about {
  font-family: 'DBHelvethaica';
  font-size: 42px;
  color:#2e2c2c;
  margin: 25px 0px 25px 0px;
  line-height: 100%;
}

.font_header {
  font-family: 'DBHelvethaica';
  font-size: 30px;
  color:#2e2c2c;
  font-weight: Bold;
}

#staff_header {
  font-family: 'DBHelvethaica';
  font-size: 65px;
  color:#160d0d;
  padding: 10px;
  line-height: 100%;
}
