@font-face {
    font-family: 'THSarabunNew';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/THSarabunNew.ttf') format('truetype');
}
@font-face {
    font-family: 'THSarabunNew';
    font-style: normal;
    font-weight: bold;
    src: url('fonts/THSarabunNew Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'THSarabunNew';
    font-style: italic;
    font-weight: normal;
    src: url('fonts/THSarabunNew Italic.ttf') format('truetype');
}
@font-face {
    font-family: 'THSarabunNew';
    font-style: italic;
    font-weight: bold;
    src: url('fonts/THSarabunNew BoldItalic.ttf') format('truetype');
}
body { font-family: "THSarabunNew" }

.absolute {
  position: absolute;
  text-align: right;
  vertical-align: middle;
}

table.separate {
  border-collapse: separate;
  /* border-spacing: 5pt;
  border: 3pt solid #33d; */
  width: 100%;
}

table.collapse {
  border-collapse: collapse;
  border: 1px solid black;
}

table.collapse td {
  /* border-left: 1px solid black; */
  padding-bottom : 10px;
}

table.collapse th {
  border: 1px solid black
}

.full-width {
  width: 100%;
}

th {
  text-align: center;
  vertical-align: middle;
}

td,th {
  vertical-align: middle;
  /* border: 1px solid black */
}
.bold {
    font-weight : bold;
}

.border {
   border-left: 1px solid black;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.m_left {
  margin-left : 10px
}

.m_right {
  margin-right : 10px
}

.f_right {
  float : right;
}

.f_left {
  float : left;
}
