@font-face {
    font-family: 'DBHelvethaica';
    font-weight: normal;
    font-style: normal;
    src: url('/fonts/DB HelvethaicaMon X v3.2.ttf');
    src: url('/fonts/DB Helvethaica X Bd Cond It v3.2.ttf') format('truetype'),
}

.font {
    font-family: 'DBHelvethaica';
}

.login-logo {
    font-family: 'DBHelvethaica';
}

.btn_employee {
    float: right;
}

.Breadcrumbs {
    font-size: 20px !important;
    float: right;
}

.label_font {
    font-family: 'DBHelvethaica';
    font-size: 22px !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
}

th {
    text-align: center
}

.left {
    float: left;
}

.btn-link {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: #0073b7;
    padding: 0;
    text-decoration: underline;
    font-family: inherit;
    font-size: inherit;
}

.btn-education {
    margin: 24px 0px 0px 0px !important;
}

.table>tbody>tr>td {
    vertical-align: middle;
}

.time {
    margin-top: 19px;
    font-size: 135%;
    font-weight: 400;
    color: #0073b7;
}

.date {
    margin-top: 19px;
    margin-right: 20px;
    font-size: 135%;
    font-weight: 400;
    color: #074569;
}

.right {
    float: right;
}

.box-title {
    font-size: 27px !important;
}

.widget-user-username {
    font-size: 20px !important;
}

.modal-clock {
    margin-top: 20%;
    top: -20%;
}

input[type=search] {
    padding-left: 10px
}

.title {
    font-size: 22px;
}

#calendar {
  margin: 0 auto;
}

.fc-title {
  color : #fff;
}
.fc-time {
  color : #fff;
}
.select_year {
  padding:0px 10px 0px 10px;
}
